.headline-of-page {
    margin: 60px 0 50px 0;
}

h5 {
    color: darkblue !important;
    margin-bottom: 24px !important;
    text-transform: UPPERCASE !important;
}

.main {
    display: flex;
    position: relative;
}

.block {
    min-width: 100%;
    transition: 1s;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#title, #dueDate, .form-select {
    letter-spacing: 1px;
    width: 350px !important;
}

#description {
    resize: none;
    height: 280px;
    width: 500px;
}

.profile-picture {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px 0px;
    border: 2px solid transparent;
}

.profile-picture-under-border {
    border-bottom: 2px solid;
}

.btn {
    font-size: 1.25rem !important;
    margin: 0 12px;
}

.position-of-container {
    position: absolute;
    right: 40px;
    bottom: 80px;
}

.image-box {
    margin: 0 10px;
}

.card {
    width: 1025px;
    min-height: 590px;
}

.card-body {
    padding: 0 !important;
    background-color: #F2F2F2 !important;
}

.card-foooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

.foooter-btn {
    width: 100px;
    margin: 0 12px;
}

.section-slide-container {
    display: flex;
    min-height: 100%;
    overflow-x: hidden
}

.mr-25 {
    margin-right: 25px;
}

@media (max-width: 1275px), (max-height: 850px) {
    .page-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .main {
        margin-left: -60px;
        justify-content: center;
        flex: 1;
    }
    .card {
        width: 100%;
        min-height: unset;
    }
    .section-slide-container {
        width: calc( 100vw - 150px);
    }
}