.headline-of-page {
    margin: 60px 0 50px 0;
}

h5 {
    color: darkblue !important;
    margin-bottom: 24px !important;
    text-transform: UPPERCASE !important;
}

.main {
    background-color: #F2F2F2 !important;
    padding-bottom: 32px;
    display: flex;
    position: relative;
}

.block {
    margin: 0 40px;
}

.block-element {
    margin: 32px 0;
}

.form-select {
    width: 350px !important;
}

#title {
    letter-spacing: 1px;
}

#description {
    resize: none;
    height: 280px;
    width: 500px;
}

.profile-picture {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px 0px;
    border: 2px solid transparent;
}

.profile-picture-under-border {
    border-bottom: 2px solid;
}

.btn {
    font-size: 1.25rem !important;
    margin: 0 12px;
}

.btn-cancel {
    color: #0d6efd !important;
}

.position-of-container {
    position: absolute;
    right: 40px;
    bottom: 80px;
}

.image-box {
    margin: 0 10px;
}

@media (max-height: 830px) {
    #descrition {
        height: 260px !important;
        width: 475px !important;
    }
    .block-element {
        margin: 30px 0 !important;
    }
    .headline-of-page {
        margin: 40px 0 50px 0;
    }
}

@media (max-height: 790px) {
    #descrition {
        height: 250px !important;
    }
    .block-element {
        margin: 24px 0 !important;
    }
    .main {
        padding-bottom: 16px;
    }
}

@media (max-height: 750px) {
    .headline-of-page {
        font-size: 1.90rem;
    }
    h5 {
        font-size: 1.15rem !important;
    }
    #descrition {
        height: 240px !important;
    }
    .block {
        margin: 0 30px;
    }
    .block-element {
        margin: 22px 0 !important;
    }
    .btn{
        font-size: 1rem !important;
    }
}

@media (max-height: 730px) {
    .headline-of-page {
        font-size: 1.70rem;
    }
    h5 {
        font-size: 1rem !important;
    }
    .form-select, .form-control, #descrition {
        font-size: 0.85rem !important;
    }
    .block-element {
        margin: 20px 0 !important;
    }
}