
h5 {
    color: darkblue !important;
    margin-bottom: 24px !important;
    text-transform: UPPERCASE !important;
}

.main {
    display: flex;
    position: relative;
}

.block {
    min-width: 100%;
    transition: 1s;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#title, #dueDate, .form-select {
    letter-spacing: 1px;
    width: 350px !important;
    max-width: 80vw;
}

#description {
    resize: none;
    height: 280px;
    width: 500px;
}

.profile-picture {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px 0px;
    border: 2px solid transparent;
}

.profile-picture-under-border {
    border-bottom: 2px solid !important;
}

.btn {
    font-size: 1.25rem !important;
    margin: 0 12px;
}

.position-of-container {
    position: absolute;
    right: 40px;
    bottom: 80px;
}

.image-box {
    margin: 0 10px;
    border-bottom: 2px transparent;
}

.card {
    width: 1025px;
    min-height: 590px;
}

.card-body {
    padding: 0 !important;
    background-color: #F2F2F2 !important;
}

.card-foooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    background-color: #e8ebe9;
}

.foooter-btn {
    min-width: 100px;
}

.section-slide-container {
    display: flex;
    min-height: 100%;
    overflow-x: hidden
}

.mr-25 {
    margin-right: 25px;
}

@media (max-width: 1275px), (max-height: 850px) {
    .page-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .main {
        margin-left: -60px;
        justify-content: center;
        flex: 1;
    }
    .card {
        width: 100%;
        min-height: unset;
    }
    .section-slide-container {
        width: calc( 100vw - 150px);
    }
}

@media (max-width: 1000px) {
    .block {
        align-items: center;
    }
    .block-row {
        flex-direction: column;
    }
    .block-element {
        margin-bottom: 35px;
    }
    #section-1 {
        flex-direction: column-reverse;
    }
    #section-1 .block-element {
        margin-bottom: 0;
    }
    #description {
        max-width: calc(0.85 * (100vw - 140px)) !important;
        height: 250px;
    }
}

@media (max-width: 1000px) and (max-height: 750px) {
    #description {
        max-width: calc(0.45 * (100vw - 140px)) !important;
        height: 200px;
    }
    #title, #dueDate, .form-select {
        width: 250px !important;
    }
    #section-0, #section-1 {
        flex-direction: unset !important;
    }
    .profile-picture {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 700px) {
    .headline-of-page {
        margin: 25px 0 30px 0;
        text-align: center;
    }
    .main {
        margin-left: 0;
        height: calc(100vh - 55px - 32px);
        flex: unset;
    }
    .section-slide-container {
        width: 100vw;
    }
    #description {
        max-width: calc(0.85 * 100vw) !important;
        height: 250px;
    }
}

@media (max-width: 700px) and (max-height: 750px) {
    #description {
        max-width: calc(0.45 * 100vw) !important;
        height: 120px;
    }
}

@media (max-width: 500px) {
    h5 {
        font-size: 1.025rem !important;
    }
    .block-element {
        margin-bottom: 25px;
    }
    .block {
        justify-content: center;
    }
    #description {
        height: 175px;
    }
    #section-1 {
        align-items: flex-start !important;
        padding-left: 30px;
    }
    #title, #dueDate, .form-select {
        height: 32px;
        font-size: 0.8rem !important;
    }
}

@media (max-width: 500px) and (max-height: 750px) {
    #section-0 {
        flex-direction: column !important;
    }
    #section-1 {
        flex-direction: column-reverse !important;
        align-items: center !important;
        padding-left: 0;
        justify-content: space-evenly;
    }
    #description {
        max-width: calc(0.75 * 100vw) !important;
    }
}