h1 {
    margin: 40px;
    margin-bottom: 55px;
}

.main {
    margin: 0px 175px 0 40px;
    background-color: #F2F2F2 !important;
    padding-bottom: 32px;
    display: flex;
}

.block {
    margin: 0 40px;
}

.block-element {
    margin: 32px 0;
}

#description {
    height: 275px;
    width: 525px;
    padding: 8px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, select{
    height: 30px;
    width: 350px;
    padding-left: 5px;
    font-size: 16px;
}