.headline-of-page {
    margin: 60px 0 50px 0;
}

h5 {
    color: darkblue !important;
    margin-bottom: 24px !important;
    text-transform: UPPERCASE !important;
}

.main {
    background-color: #F2F2F2 !important;
    padding-bottom: 32px;
    display: flex;
}

.block {
    margin: 0 40px;
}

.block-element {
    margin: 32px 0;
}

.form-select {
    width: 350px !important;
}

#descrition {
    resize: none;
    height: 280px;
    width: 500px;
}