/* WIDTH */

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

/* MARGIN */

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.mar-top-bot-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.margin-r-16 {
    margin-right: 16px;
}
.no-margin {
    margin: 0;
}

.backlog-task {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.backlog-task * {
    align-items: center;
}