/* WIDTH */

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

/* MARGIN */

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.mar-top-bot-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.margin-r-16 {
    margin-right: 16px;
}

.no-margin {
    margin: 0;
}

/* TEXT AND FONT */

/* BIG CLASSES */

.backlog-task {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.backlog-task * {
    align-items: center;
}

.confirm-button {
    display: block;
    margin-left: auto;
}

.accordion {
    margin-right: 5%;
}

/* confirm task */

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.accordion-img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 16px;
}

.item-detail {
    display: flex;
}

.item-detail-content {
    margin-left: 8px;
    border-left: 1px solid gray;
    padding-left: 8px;
}

#urgency-icon {
    margin-left: auto;
}


.urgency-1 {
    background-size: 200%;
    background-position: 0% 100%;
    background-image: linear-gradient(5deg, white, white, green, green);
    transition: 225ms ease-in-out background-position;
}
.urgency-2 {
    background-size: 200%;
    background-position: 0% 100%;
    background-image: linear-gradient(5deg, white, white, rgb(228, 228, 0), rgb(228, 228, 0));
    transition: 225ms ease-in-out background-position;
}
.urgency-3 {
    background-size: 200%;
    background-position: 0% 100%;
    background-image: linear-gradient(5deg, white, white, red, red);
    transition: 225ms ease-in-out background-position;
}

[class*=urgency-]:hover {
    background-position: 50% 50%
}

[class*=item-button-border] {
    border-left: 8px solid;
}
.item-button-border-Marketing {
    border-color: teal;
}
.item-button-border-Developement {
    border-color: thistle;
}
.item-button-border-Engineering {
    border-color: tomato;
}
.item-button-border-Design {
    border-color: wheat;
}
.item-button-border-Product {
    border-color: yellowgreen;
}
.item-button-border-Testing {
    border-color: blueviolet;
}
.item-button-border-Sale {
    border-color: brown;
}
.item-button-border-Other {
    border-color: darkblue;
}

#confirmTask {
    z-index: 999;
}

.modal-dialog {
    font-size: 1.1em;
}

@media (max-width : 576px) {
    .modal-dialog {
        font-size: 1.0em;
        width: 90%;
    }
}
@media (max-width : 700px) {
    .item-detail {
        flex-direction: column;
    }

    

    .item-detail-content {
        border-left: 0;
        border-top: 1px solid gray;
        margin-left: 0;
        padding-left: 0;
        padding-top: 8px;
    }

    #title {
        text-align: center;
    }

    #conten-container {
        margin-left: 16px;
        width: 100%;
    }
}
