.drag-area-highlight {
    background-color: rgba(176, 175, 238, 0.6);
}

.width-from-category {
    width: calc((100vw - 200px)/4);
    word-wrap: break-word;
    padding: 1vw;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.board-card {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 8px;
    background-color: lightgray;
    width: 90%;
    margin: 8px;
}

@media (max-width: 700px) {
    .col-mobile {
        display: flex;
        flex-direction: column;
    }
    .row-mobile {
        display: flex;
        flex-direction: row;
    }
    .reset-margin-mobile {
        margin-left: 1.33vw !important;
    }
    .width-from-category {
        width: 48vw !important;
        margin-left: 1vw !important;
        padding: 0px !important;
        font-size: calc(6px + 1.5vw);
    }
    h2 {
        font-size: calc(12px + 1.5vw);
        font-weight: bold;
        margin-top: 1em;
    }
}