.drag-area-highlight{
    background-color: rgba(176, 175, 238,0.6);
}

.width-from-category{
    width: calc((100vw - 265px)/4);
}

.board-card {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 8px;
    background-color: lightgray;
    width: 90%;
    margin: 8px;
}

@media (max-width: 700px) {
    .col-mobile{
        flex-direction: column;
    }
    .row-mobile{
        display: flex;
        flex-direction: row;
    }

    .reset-margin-mobile{
        margin: 0 !important;
    }

    .width-from-category{
        width: 48vw !important;
        margin: 1vw !important;
    }
}