.drag-area-highlight {
    background-color: rgba(176, 175, 238, 0.6);
}

.width-from-category {
    width: calc((100vw - 240px)/4);
    word-wrap: break-word;
    padding: 1vw;
    font-size: calc(8px + 1vw);
}

h3 {
    font-size: calc(10px + 1vw);
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.board-card {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(225, 225, 252);
    width: 90%;
    margin: 8px;
    cursor: pointer;
}

.overflow{
    overflow-y: auto;
    height: calc(80vh - 220px);
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infobox {
    width: 90vw;
    height: 80vh;
    max-width: 500px;
    background-color: rgb(230, 230, 230);
    border: 1px solid grey;
    padding: 1em;
    overflow: hidden;
}

.close-button {
    position: fixed;
    top: 16px;
    right: 16px;
    transform: translate(50%, 50%);
}

.close-button:hover {
    font-size: 1.3em;
}

.info-box-margin-left {
    margin-left: 16px;
}

.detail-description-field {
    background-color: lightgray;
    padding: 8px;
    min-height: 150px;
    border-radius: 16px;
}

.delete-button{
    position: absolute;
    top: 5px;
    right: 17px;
    object-fit: cover;
}

.icon-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .col-mobile {
        display: flex;
        flex-direction: column;
    }
    .row-mobile {
        display: flex;
        flex-direction: row;
    }
    .reset-margin-mobile {
        margin-left: 1.33vw !important;
    }
    .width-from-category {
        width: 48vw !important;
        margin-left: 1vw !important;
        padding: 0px !important;
        font-size: calc(6px + 1.5vw) !important;
    }
    h3 {
        font-size: calc(12px + 1.5vw) !important;
        font-weight: bold !important;
        margin-top: 1em !important;
    }
    .heigt-min-max {
        min-height: 30vh;
        max-height: 30vh;
    }
    .detail-comments-field {
        flex-direction: column;
    }
    .info-box-margin-left {
        padding-bottom: 1em;
    }
    #titel {
        text-align: center;
    }
}