.drag-area-highlight {
    background-color: rgba(176, 175, 238, 0.6);
}

.width-from-category {
    width: calc((100vw - 200px)/4);
    word-wrap: break-word;
    padding: 1vw;
    font-size: calc(8px + 1vw);
}

h3 {
    font-size: calc(10px + 1vw);
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.board-card {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 8px;
    background-color: lightgray;
    width: 90%;
    margin: 8px;
    cursor: pointer;
}
/* 
.card-highlight{
    box-shadow: 20px 20px 5px 0px rgba(0,0,0,0.75);
    transform: rotate(2deg) scale(1.1) ;
} */

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infobox {
    width: 70vw;
    height: 80vh;
    background-color: rgb(192, 192, 192);
    border: 1px solid grey;
    padding: 1em;
}

.close-button {
    position: fixed;
    top: 8px;
    right: 8px;
}

.close-button:hover {
    font-size: 1.3em;
}

@media (max-width: 700px) {
    .col-mobile {
        display: flex;
        flex-direction: column;
    }
    .row-mobile {
        display: flex;
        flex-direction: row;
    }
    .reset-margin-mobile {
        margin-left: 1.33vw !important;
    }
    .width-from-category {
        width: 48vw !important;
        margin-left: 1vw !important;
        padding: 0px !important;
        font-size: calc(6px + 1.5vw) !important;
    }
    h3 {
        font-size: calc(12px + 1.5vw) !important;
        font-weight: bold !important;
        margin-top: 1em !important;
    }
    .heigt-min-max {
        min-height: 30vh;
        max-height: 30vh;
    }
}