.page{
    width: calc(100vw - 260px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-container{
    height: 70vh;
    width: 100%;
    margin-top: 1vh;
}

.video{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width : 700px){
    .page{
        width: 100vw !important;
    }
}