body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

/* BORDER */

.border-small {
    border-radius: 8px;
}

.border-large {
    border-radius: 16px;
}

.border-circel {
    border-radius: 100%;
}

/* COLOR */

.bg-sec {
    background-color: rgb(7, 7, 124);
}

.bg-main {
    background-color: rgb(176, 175, 238);
}

.color-navbar {
    color: rgb(213, 213, 226);
}

.color-titel {
    color: rgb(6, 6, 209);
}

/* FONT */

.bold {
    font-weight: bold;
}

/* NAVIGATION_BAR */

.log-out {
    cursor: pointer;
}

.log-out:hover {
    color: rgb(141, 174, 236);
}

#nav-bar-top {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nav-bar {
    width: 140px;
    height: 100vh;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nav-logo {
    margin: 30px 0;
}

.nav-profile-picture {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid white;
}

.nav-element {
    border-left: transparent 5px solid;
    width: 140px;
    padding-left: 30px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.nav-element:hover {
    color: rgba(255, 255, 255, 1);
}

.nav-element-lined {
    color: white;
    border-left: white 5px solid;
}

/* RESPONSIVE NAVBAR */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 124);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f7f7f7;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.info-box-bg-warning {
    background-color: rgb(252, 104, 46) !important;
}

.info-box-bg-success {
    background-color: rgb(70, 182, 18) !important;
}

.accordion-img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 16px;
}

.warning-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: lightgray;
    top: 16px;
    left: 50%;
    padding: 12px;
    border-radius: 8px;
    animation: warning-fade 3s ease-in-out forwards;
}

@keyframes warning-fade {
    0% {filter: opacity(0);}
    15% {filter: opacity(1);}
    60% {filter: opacity(1);}
    100% {filter: opacity(0);}
}

@media (max-width : 700px) {
    #nav-bar {
        display: none;
    }
    #responsive-navbar {
        display: block !important;
        position: absolute;
        left: 16px;
        top: 16px;
        z-index: 99;
    }
}